#Encabezado
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #d308e9;
    color: #000000;
    flex-wrap: wrap;
}

#secciones 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #c53d9f;

}

.seccion 
{
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    width: 500px;
}

#Division
{
    font-weight: bold;
    font-size: 15px;
}

body
{
 background-color: #c53d9f;
}

.ordenar
{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}